*{
    margin: 0;
    padding: 0;
}
h3{
    width: 960px;
    height: 100px;
    background: #eeeeee;
    margin:0 auto;
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
}
#img-box{
    width: 960px;
    margin: 0 auto;
    margin-top: 50px;
}
#img-box img{
    width: 100%;
}
#img-box .img480,#img-box .img960{
    display: none;
}
.img100{
    display: block;
}
#content{
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}
#left{
    width: 630px;
    height: 300px;
    background: red;
    display: table;
    float: left;
}

#right{
    width: 300px;
    height: 300px;
    background: green;
    display: table;
    float: right;
}
#content div p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
@media screen and (max-width: 960px){
    h3{
        width: 100%;
    }
    #img-box{
        width: 100%;
    }
    #img-box .img100,#img-box .img480{
        display: none;
    }
    #img-box .img960{
        display: block;
    }
    #content{
        width: 100%;
    }
    #left{
        width: 66%;
    }
    #right{
        width: 31%;
    }
}

@media screen and (max-width: 480px){

    #img-box .img100,#img-box .img960{
        display: none;
    }
    #img-box .img480{
        display: block;
    }
    #left{
        width:100%;
        float: none;
    }
    #right{
        width: 100%;
        float: none;
    }
}
