<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div id="ggg">
            <input type="text" v-model="firstName">
            <input type="text" v-model="lastName">

            <h2>fillName:{{fillName}}</h2>
        </div>
        <script src="vue.js"></script>
        <script>
        let vm = new Vue({
            el:'#ggg',
            data:{
                firstName:'',
                lastName:'',

            },
            methods:{
                fill(){
                    return this.firstName + this.lastName;
                }
            },
            computed:{
                fillName(){
                //    return this.firstName +""+ this.lastName;
                    get:{
                        console.log('get...');
                        return this.firstName +" "+ this.lastName;
                    }
                    set:{
                        console.log('set....');
                        return this.firstName +" "+ this.lastName;
                    }
                }
            },
            watch:{
                firstName: function(newVal,oldVal){

                }
            }
        })
        
        
        
        </script>
</body>
</html>